---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Aspiring digital  with a passion for online marketing.
Experienced in utilizing social media platforms to build brand communities and increase online visibility. 
Eager to apply knowledge of SEO, PPC, and email marketing to deliver impactful results.

.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital Marketing Certificate"
      subtitle=" 2024 at Honey Treat Academy, Lagos, Nigeria"
    />
    <TimeLineElement
      title="NCE In Business Eucation\Secretariat"
      subtitle="2010 to 2013 at Tai Solarin College Of Education, Ogun, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Digital Marketer Intern"
      subtitle="2024 at Orbeets Digital Tech.Solutions, Lagos, Nigeria"
    >
  • Drove over 10 new leads to the Orbeets trading platform every week
• Groomed and ensured clients were actively purchasing Orbeet’s service while moving them to other products in the funnel
• Onboarded new offers to existing and new clients and increased
commissions by 150%
.
    </TimeLineElement>
    <TimeLineElement
      title="Digital Marketing Specialist"
      subtitle="2024 at Joselly unique bags collection., Lagos, Nigeraia"
    >
    • Created and Implemented marketing campaigns to attract new clients and signed up 10 new clients each new week at the very least
• Ensured a steady referral generation to boost my commission earnings
• Provided assistance and support to trading clients so they had a seamless trading experience
.
    </TimeLineElement>
    <TimeLineElement
      title="SIWES"
      subtitle="2024 at God's Mercy Bags Collection, Lagos, Nigeria"
    >
      • Built relationships with other businesses and individuals to win their business into the firm when ready which led to another 30% more conversions
• Monitored referral performance, tracking commissions,updating regular reports to ensure efficiency and accountability
.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Ads</li>
    <li>Meta Ads</li>
    <li>Search Engine Optimization</li>
    <li>Google Analytics</li>
    <li>Enterpreneur</li>
    <li>Soft Skill</li>
    <li>Canva</li>
    <li>Content Marketing</li>
    <li>Email Marketing</li>
    <li>Video Ads</li>
    <li>Blog Writing</li>
    <li>Technical Marketing</li>
    <li>Google Console</li>
    <li>Affiliate Marketing</li>
    <li>Drop Shipping</li>
  </ul>
</BaseLayout>
