---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import { fetchHashnodePosts } from "src/lib/hashnode";

const posts = await fetchHashnodePosts();
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Patrick Timothy Njoli</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer and Entrepreneur
    </div>
    <div class="py-2">
      <text class="text-lg">
        As a software engineer with over 3 years working experience, I've
        collaborated with diverse industries within Nigeria such as Education, Fintech,
        Health, and Operations, using various tech tools and languages to
        contribute significantly to startups and Open Source projects. My
        journey encompassed mastering PHP, JavaScript, Laravel, NodeJs, React,
        databases (Postgres, MySQL, MongoDB), cloud services (AWS), Docker, Git,
        Linux, among others.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn btn-outline"
        href="https://x.com/njolipatrick"
        target="_blank"
      >
        Let's connect!</a
      >
      <a href="/cv" target="_self" class="btn btn-outline ml-5">
        Review my Resume
      </a>
    </div>
  </div>
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    posts.map((post) => (
      <>
        <HorizontalCard
          title={post.title}
          img={post.coverImage.url}
          desc={post.subtitle}
          url={"/blog/" + createSlug(post.title, post.slug)}
          target="_self"
          badge={post.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->
</BaseLayout>
src/lib/hashnode
